/*Variables*/
/*Fuentes*/
/*Colores*/
/*Botones*/
/* this is the "root" in "root em." */
html {
  font-size: 62.5%;
  /* Now 10px = 1rem! */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  /* px fallback */
  font-size: 1.6rem;
  /* default font-size for document */
  line-height: 1.5;
  /* a nice line-height */
}

/* for everything else, rem = px/10 */
footer {
  font-size: 13px;
  font-size: 1.3rem;
}

/* you can safely nest rems, it's still 1rem = 10px */
footer small {
  font-size: 10px;
  font-size: 1rem;
}

/*Globales*/
.contenedor {
  max-width: 100rem;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor {
    max-width: 65rem;
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .contenedor {
    max-width: 85rem;
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1700px) {
  .contenedor {
    max-width: 150rem;
    width: 95%;
    margin: 0 auto;
  }
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Utilidades */
.centrar-texto {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.fw-400 {
  font-weight: 400;
}

/*Grid*/
.nav-grid a {
  display: block;
}

@media (min-width: 768px) {
  .nav-grid {
    display: block;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .centrar-col {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

/* CUSTOM CSS*/
.site-header.inicio {
  background-image: url(../img/Fondo-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}

@media (max-width: 578px) {
  .nav-contenido {
    display: block;
  }
  .iconos i {
    margin: 0;
    font-size: 2.5rem;
    padding: 1rem 4rem;
    color: #7ccbba;
    background-color: #0c514a;
    border-radius: 5rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 578px) {
  .nav-contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
  .nav-contenido .iconos i {
    margin-right: 5rem;
    font-size: 2.5rem;
    padding: 1rem 4rem;
    color: #7ccbba;
    background-color: #0c514a;
    border-radius: 5rem;
    margin-bottom: 2rem;
  }
  .nav-contenido .iconos i:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.contenido {
  color: #ffffff;
}

.contenido h1,
.contenido h2 {
  padding-top: 10rem;
  font-family: "Anton", sans-serif;
  font-size: 8rem;
  max-width: 40rem;
}

@media (max-width: 578px) {
  .contenido h1, .contenido h2 {
    padding-top: 5rem;
    font-size: 4rem;
    color: #078368;
  }
}

@media (min-width: 1700px) {
  .contenido h1 {
    padding-top: 60rem;
  }
}

.contenido a {
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  padding: 1rem 4rem;
  color: #ffffff;
  background-color: #636e72;
  border-radius: 5rem;
  display: block;
  text-align: center;
}

@media (min-width: 600px) {
  .contenido a {
    display: inline-block;
  }
}

.contenido p {
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  width: 50rem;
}

@media (max-width: 578px) {
  .contenido a {
    font-size: 1.8rem;
    padding: 1rem 1rem;
    color: #ffffff;
    background-color: #636e72;
    border-radius: 5rem;
    display: block;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }
  .contenido a:last-of-type {
    margin-bottom: 0;
  }
  .contenido p {
    padding-top: 8rem;
    font-size: 1.6rem;
    width: 20rem;
  }
}
