/*Variables*/

/*Fuentes*/
$fuentePrincipal: 'Anton', sans-serif;
$fuenteSecundaria: 'Lato', sans-serif;
/*Colores*/
$blanco: #ffffff;
$gris: #636e72;
$colorPrincipal: #0c514a;
$colorSecundario: #7ccbba; 